.App {
  text-align: center;
}


body {
  background-image: url(https://media1.tenor.com/images/8eb19063c3a1617b48b6032e8cfe8e12/tenor.gif?itemid=7267498);
  background-repeat: no-repeat;
  background-size: cover;

  

}

.coffeeHeader {
  text-shadow: 1px 2px 2px #91761F;
  font-family: 'Courier New', Courier, monospace;

  font-size: 70px;
}

.coffeeSub {

  font-family: 'Courier New', Courier, monospace;

  font-size: 30px;
}


.timerDisplay{
  text-shadow: 1px 2px 2px #91761F;
  font-family: monospace;

  font-size: 40px;
}

.coffeeGlasses {
  
  font-family:monospace;
  font-size: 20px;
  text-shadow: 1px 2px 2px #91761F;

}

li {
  list-style-type:none;
  margin: 0;
  padding: 0;
  text-shadow: 1px 2px 2px #91761F;

  font-size: 18px;


}

form {
  text-shadow: 1px 2px 2px #91761F;
}